.content{
  margin-top: 100px;
}

.heart{
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 22px;
  color: #e0e0e0;
}
.content__img{
  position: relative;
}
.content__location{
  position: absolute;
  bottom: 15px;
  color: white;
}
.content__location--item{

}
.content__location--left{
  padding-left:15px;
}
.content__location--right{
  padding-right:15px;
}
.content__title{
  font-size: 14px;
  padding: 0;
  padding-top: 3px;
  margin: 0;
  font-weight: 600;
}
.content__desc{
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}
.content__short{
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-weight: 700;
}
.content__link{
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}
.pdR-0{
  padding-right:0;
}
.bai2{
  margin-top:100px
}

.blue{
  background: blue;
}
