<div class="content-right">
  <div class="row">
    <div class="col">
      <div class="content-item">
        <div class="content__img">
          <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
          <i class="fas fa-heart heart"></i>
          <div class="content__location w-100">
            <span class="content__location--left d-inline-block float-left">CAMBODIA</span>
            <span class="content__location--right d-inline-block float-right">4 WEEKS</span>
          </div>
        </div>
        <div class="content__caption">
          <h2 class="content__title">LOCAL</h2>
          <p class="content__desc">An insiders guide to the bits of Cambodia</p>
          <div>
            <span class="content__short">Trip guide by</span>
            <a href="#" class="content__link">CHUCK</a>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="content-item">
        <div class="content__img">
          <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
          <i class="fas fa-heart heart"></i>
          <div class="content__location w-100">
            <span class="content__location--left d-inline-block float-left">CAMBODIA</span>
            <span class="content__location--right d-inline-block float-right">4 WEEKS</span>
          </div>
        </div>
        <div class="content__caption">
          <h2 class="content__title">LOCAL</h2>
          <p class="content__desc">An insiders guide to the bits of Cambodia</p>
          <div>
            <span class="content__short">Trip guide by</span>
            <a href="#" class="content__link">CHUCK</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="content-item">
        <div class="content__img">
          <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
          <i class="fas fa-heart heart"></i>
          <div class="content__location w-100">
            <span class="content__location--left d-inline-block float-left">CAMBODIA</span>
            <span class="content__location--right d-inline-block float-right">4 WEEKS</span>
          </div>
        </div>
        <div class="content__caption">
          <h2 class="content__title">LOCAL</h2>
          <p class="content__desc">An insiders guide to the bits of Cambodia</p>
          <div>
            <span class="content__short">Trip guide by</span>
            <a href="#" class="content__link">CHUCK</a>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="content-item">
        <div class="content__img">
          <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
          <i class="fas fa-heart heart"></i>
          <div class="content__location w-100">
            <span class="content__location--left d-inline-block float-left">CAMBODIA</span>
            <span class="content__location--right d-inline-block float-right">4 WEEKS</span>
          </div>
        </div>
        <div class="content__caption">
          <h2 class="content__title">LOCAL</h2>
          <p class="content__desc">An insiders guide to the bits of Cambodia</p>
          <div>
            <span class="content__short">Trip guide by</span>
            <a href="#" class="content__link">CHUCK</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
